*.sln
Initial/Initial.vcxproj
*.filters
Initial/.vs/Initial/v14/.suo
*.vsarduino.h
*.vmps.xml
*.ino.elf
*.ino.hex
*.buildinfo
*.pdb
Initial/Debug/Initial.tlog/CL.write.1.tlog
*.tlog
*.log
Initial/Debug/vc140.idb
*.hex
*.elf
*.d
Initial/Debug/Classes.cpp.o
*.o
Initial/Debug/core.a
*.vcxproj
